/* src/index.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
  }
  

  @font-face {
    font-family: 'sm00ch';
    src: local('sm00ch'), url('assets/sm00ch.woff') format('woff'), url('assets/sm00ch.woff2') format('woff2');
  
    font-weight: 330; /* Adjust font weight if necessary */
    font-style: normal; /* Adjust font style if necessary */
  }