/* src/index.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    overflow:hidden;
  }
  

  @font-face {
    font-family: 'sm00ch';
    src: local('sm00ch'), url('assets/sm00ch.woff') format('woff'), url('assets/sm00ch.woff2') format('woff2');
  
    font-weight: 330; /* Adjust font weight if necessary */
    font-style: normal; /* Adjust font style if necessary */
  }

  @font-face {
    font-family: 'bebas';
    src: local('bebas'), url('assets/BebasNeue-Regular.woff') format('woff'), url('assets/BebasNeue-Regular.woff2') format('woff2');
  
    font-weight: 330; /* Adjust font weight if necessary */
    font-style: normal; /* Adjust font style if necessary */
  }

