body {
    font-family: 'sm00ch';
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'sm00ch';
  }
  
  .text-display {

    font-family: 'sm00ch';
    font-size: large;
  }